.page {
    min-height: 100svh;
    padding: 96px 0;
    background-color: var(--gray);
}

.container {
    max-width: 1184px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loadMore {
    display: block;
    margin: 64px auto 0;
    border-radius: 12px;
    padding: 16px 0;
    width: 100%;
    max-width: 183px;
    background-color: var(--green-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: var(--dark-bg);

    &:hover {
        background-color: var(--green-hover-color);
    }
}