.backdrop {
    position: fixed;
    inset: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    background-color: var(--backdrop-bg);
}

.modalContainer {
    position: relative;
    width: 100%;
    max-width: 566px;
    padding: 64px;
    border-radius: 30px;
    background-color: var(--white-bg);
    max-height: calc(100dvh - 40px);
    overflow-y: auto;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;

    stroke: var(--dark-bg);
    transition: stroke var(--transition);

    &:hover,
    &:focus-visible {
        stroke: var(--disabled);
    }
}
