.headerContainer {
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 64px;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.content{
    display: flex;
    width: 100%;
    max-width: 661px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    margin: 0;
    padding: 0;

    gap: 8px;
    align-items: center;
    a {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: var(--dark-bg);
    }
}

.linksList {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 28px;
}

.linksEl{
    a {
        font-size: 16px;
        line-height: 125%;
        color: #121417;
        transition: color 350ms ease;

        &:hover,
        &:focus-visible {
            color: var(--yellow-color);
        }
    }
}

.authBtns {
    display: flex;
    gap: 16px;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 350ms ease;

    a {
        color: #121417;
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        transition: color 350ms ease;
    }

    &:hover,
    &:focus-within {
        color: var(--yellow-color);

        a {
            color: var(--yellow-color);
        }
    }
}

.userName {
    color: #121417;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
}

.loginIcon {
    --color1: var(--dark-bg);
}

.register{
    display: inline-block;
    border: none;
    border-radius: 12px;
    padding: 14px 39px;
    background: var(--dark-bg);
    color: var(--white-bg);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    transition: background-color 350ms ease, color 350ms ease;

    &:hover,
    &:focus-visible {
        background: var(--yellow-color);
        color: var(--dark-bg);
        cursor: pointer;
    }
}