.titleBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 438px;
    margin-bottom: 40px;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.text {
    font-size: 16px;
    line-height: 1.38;
    color: var(--text-description);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input {
    width: 100%;
    padding: 18px 16px;
    border: 1px solid var(--input-border-color);
    border-radius: 12px;

    font-size: 16px;
    line-height: 1.38;
    transition: border-color var(--transition);

    &::placeholder {
        color: var(--dark-bg);
    }

    &:focus-visible {
        outline: none;
        border-color: var(--green-color);
    }

    &[aria-invalid='true'] {
        border-color: var(--error-color);
    }
}

.passwordField {
    position: relative;
}

.passwordInput {
    padding-right: 52px;
}

.eyeButton {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    stroke: var(--dark-bg);
    transition: stroke var(--transition);

    &:hover,
    &:focus-visible {
        stroke: var(--disabled);
    }
}

.errorText {
    margin-top: 6px;
    font-size: 13px;
    color: var(--error-color);
}

.submitButton {
    max-width: 438px;
    padding: 16px 0;
    border-radius: 12px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    background-color: var(--green-color);
    transition: background-color var(--transition);

    &:hover,
    &:focus-visible {
        background-color: var(--green-hover-color);
    }
}
